# Files for prettier to ignore when running --write

.prettierignore
.prettierrc.json
.eslintrc.json
.nvmrc
next/*
next.config.mjs
jsconfig.json
package.json
package-lock.json
.vscode/*
pnpm-lock.yaml
README.md